# Customer List Cleanup

In [1]:
# Import pandas as pd
import pandas as pd

In [12]:
df = pd.read_csv('customer_list_updated.csv')
df = df.reset_index()
df

     index    cust_id|date|time|name|email|phone|sms-opt-out
0        0  1|2023-03-15|08:45:12|Rachel|rachel@centralper...
1        1  2|2023-05-22|12:30:45|R&! Geller|rossg@central...
2        2  3|2023-07-09|18:15:27|Monica Geller|chefmonica...
3        3  4|2023-09-01|21:05:33|Chandler Bing|chandlerb@...
4        4  5|2023-11-18|14:22:10|Joey|howyoudoing@central...
..     ...                                                ...
516    516  517|2024-02-15|11:30:30|Perry the Platypus|age...
517    517  518|2024-05-01|15:55:45|Baljeet|baljeet@danvil...
518    518  519|2023-03-05|09:20:00|Buford|buford@danville...
519    519  520|2023-05-18|13:45:15|Vanessa D.^|vanessa@da...
520    520  521|2023-08-01|18:10:30|Linda Flynn-Fletcher|l...

[521 rows x 2 columns]

In [3]:
# Drop duplicate rows
df = df.drop_duplicates()
df

       cust_id|date|time|name|email|phone|sms-opt-out
0    1|2023-03-15|08:45:12|Rachel|rachel@centralper...
1    2|2023-05-22|12:30:45|R&! Geller|rossg@central...
2    3|2023-07-09|18:15:27|Monica Geller|chefmonica...
3    4|2023-09-01|21:05:33|Chandler Bing|chandlerb@...
4    5|2023-11-18|14:22:10|Joey|howyoudoing@central...
..                                                 ...
516  517|2024-02-15|11:30:30|Perry the Platypus|age...
517  518|2024-05-01|15:55:45|Baljeet|baljeet@danvil...
518  519|2023-03-05|09:20:00|Buford|buford@danville...
519  520|2023-05-18|13:45:15|Vanessa D.^|vanessa@da...
520  521|2023-08-01|18:10:30|Linda Flynn-Fletcher|l...

[521 rows x 1 columns]

Dropping any duplicate rows just in case they were present but no rows were dropped so no duplicate rows existed in the dataset.

KeyError: 'name'