# Transaction Analysis

In [1]:
# import pandas as pd
# import numpy as np
# import matplotlib as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Input data to be analyzed

In [3]:
# import data from .CSV file
df = pd.read_csv('transaction_data.csv')

In [6]:
# review data
df

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,11016,20,4/10/2025,Anne Dodsworth,31,Gorgonzola Telino,14,Formaggi Fortini s.r.l.,12.5,15,187.5,15.00,202.50
1349,11016,20,4/10/2025,Anne Dodsworth,36,Inlagd Sill,17,Svensk Sjfda AB,19.0,16,304.0,24.32,328.32
1350,11058,82,4/29/2025,Anne Dodsworth,21,Sir Rodney's Scones,8,"Specialty Biscuits, Ltd.",10.0,3,30.0,2.40,32.40
1351,11058,82,4/29/2025,Anne Dodsworth,60,Camembert Pierrot,28,Gai pturage,34.0,21,714.0,57.12,771.12
1352,11058,82,4/29/2025,Anne Dodsworth,61,Sirop d'rable,29,Forts d'rables,28.5,4,114.0,9.12,123.12

In [7]:
# review info of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  1353 non-null   int64
 1   CustID         1353 non-null   int64
 2   Date           1353 non-null   object
 3   Employee       1353 non-null   object
 4   ProductID      1353 non-null   int64
 5   ProductName    1353 non-null   object
 6   VendorID       1353 non-null   int64
 7   ProductVendor  1353 non-null   object
 8   UnitPrice      1353 non-null   float64
 9   Quantity       1353 non-null   int64
 10  Subtotal       1353 non-null   float64
 11  Tax(8%)        1353 non-null   float64
 12  OrderTotal     1353 non-null   float64
dtypes: float64(4), int64(5), object(4)
memory usage: 137.5+ KB

After reviewing the data, I have determined some columns may not be necessary for analysis.