# Customer List Cleanup

In [1]:
# Import pandas as pd
import pandas as pd

In [6]:
df = pd.read_csv('customer_list_updated.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 1 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   cust_id|date|time|name|email|phone|sms-opt-out   521 non-null    object
dtypes: object(1)
memory usage: 4.2+ KB

          cust_id|date|time|name|email|phone|sms-opt-out
count                                                 521
unique                                                521
top     521|2023-08-01|18:10:30|Linda Flynn-Fletcher|l...
freq                                                    1

In [8]:
df.columns

Index(['cust_id|date|time|name|email|phone|sms-opt-out '], dtype='object')

In [10]:
df[['cust_id','date','time','name','email','phone','sms-opt-out']] = df['cust_id|date|time|name|email|phone|sms-opt-out '].str.split('|', expand=True)
df

,cust_id|date|time|name|email|phone|sms-opt-out,cust_id,date,time,name,email,phone,sms-opt-out
0,1|2023-03-15|08:45:12|Rachel|rachel@centralper...,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2|2023-05-22|12:30:45|R&! Geller|rossg@central...,2,2023-05-22,12:30:45,R&! Geller,rossg@centralperk.coffee,212-555-1002,N
2,3|2023-07-09|18:15:27|Monica Geller|chefmonica...,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4|2023-09-01|21:05:33|Chandler Bing|chandlerb@...,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5|2023-11-18|14:22:10|Joey|howyoudoing@central...,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...,...
516,517|2024-02-15|11:30:30|Perry the Platypus|age...,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518|2024-05-01|15:55:45|Baljeet|baljeet@danvil...,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519|2023-03-05|09:20:00|Buford|buford@danville...,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520|2023-05-18|13:45:15|Vanessa D.^|vanessa@da...,520,2023-05-18,13:45:15,Vanessa D.^,vanessa@danvillekids.com,555-555-3209,N
520,521|2023-08-01|18:10:30|Linda Flynn-Fletcher|l...,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

In [11]:
df = df.drop('cust_id|date|time|name|email|phone|sms-opt-out ', axis=1)
df

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R&! Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.^,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

In [12]:
df = df.set_index('cust_id')
df

,date,time,name,email,phone,sms-opt-out
cust_id,,,,,,
1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
2,2023-05-22,12:30:45,R&! Geller,rossg@centralperk.coffee,212-555-1002,N
3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...
517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
520,2023-05-18,13:45:15,Vanessa D.^,vanessa@danvillekids.com,555-555-3209,N
521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

In [ ]:
# Drop duplicate rows
df = df.drop_duplicates()
df

Dropping any duplicate rows just in case they were present but no rows were dropped so no duplicate rows existed in the dataset.